<a href="https://colab.research.google.com/github/majorquev/DBDC_202103_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/Clase1/Clase_1_01_variables_y_tipos_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>

**Ayudante:** Jorge Arévalo Labarca <br>
**E-mail ayudante:** jorge.arevalol@usach.cl

## Conociendo R

### Conociendo R de nuevo
 R es un lenguaje funcional orientado principalmente al análisis de datos. Fue desarrollado por Ross Ihaka y Robert Gentleman, cuyas iniciales de sus nombres dieron origen al nombre de este software.
 
Hoy existen varias maneras de ejecutar R, una de ellas es de manera local, para lo cual es posible descargar la última versión (disponible para Windows, Linux y OSX), desde el repositorio CRAN (https://cran.r-project.org/) .
Otra manera es mediante la utilización de Google Colab, los que permiten la ejecución de R de manera remota, sin la necesidad de instalar R.

En un notebook podemos añadir info.
Podemos editar esto...

# Puedo añadir otro  título
## Subtítulo
### Etc..

Generar listas

   * Hola
   * Otra opción
   * opcion 2

Código en latex $\sum\limits_{i=1}^n x_i$ $\lim_{x \rightarrow 1}$ $\int_0^1 f(x) dx$

## 1. R... Una gran calculadora

En R es posible ejecutar directamente en consola sentencias aritméticas simples, junto con la evaluación de una gran cantidad de funciones disponibles por defecto.

    - + , -, /,* ,^ , %%, %*%.
    - Logaritmo natural: log() 
    - Funciones trigonométricas: sin() , cos(), tan(), asin() ,acos(), atan()
    - Función exponencial: exp() 
    - Raiz cuadrada: sqrt().
    - Valor absoluto: abs()
    - parte entera: floor()
    - Truncar: trunc()
    - Redondear: round(,)
    - Factorial: factorial()
    - Número combinatorio: choose(n,k)

In [1]:
# En estas celdas pueden ejecutar código R. Las líneas que comiencen con '#' corresponden a comentarios y por ende no son ejecutables
# Shift + Enter : ejecuta el código de la celda y pasan a la celda siguiente.
sqrt(16)

[1] 4

## 2. Variables y tipos de datos

En R es posible distintos tipos de datos u objetos en símbolos llamados variables (en R todo es en esencia un objeto).<br>
La manera más sencilla de asignar un objeto a una variable es mediante la función "<-". Los tipos de datos más utilizados en R corresponden a :
    
    integer   
    double  
    logical   
    character 
    factor  
    date

A diferencia de otros lenguajes de programación, no es necesario declarar explicitamente el tipo de dato que almacenará una variable (R es inteligente!)

In [5]:
# Podemos definir distintas variables
x <- 1
y <- 5.6
x
y

[1] 1

[1] 5.6

In [6]:
x + y

[1] 6.6

In [8]:
# strings(character)
l1 <- "hola mundo"
l1

[1] "hola mundo"

In [9]:
nchar(l1) # para calcular el largo de un string

[1] 10

In [13]:
substring(l1, 2,6) # Not: R cuenta los arreglos y posiciones desde el valor 1 (a diferencia de python que cuenta desde  0)

[1] "ola m"

In [10]:
?substring

In [15]:
# valores lógicos (logical)
verdad <- TRUE
falso <- FALSE

In [16]:
verdad & falso # conjunción (y)
verdad | falso # disyunción (|)

[1] FALSE

[1] TRUE

In [18]:
# Podemos comparar la igualdad lógica entre dos valores mendiante "=="
2 == 1+1
4 == 3

[1] TRUE

[1] FALSE

In [20]:
# Podemos evaluar la no igualdad con "!=" (es distinto de)
3 != 4
6 != 6

# Podemos asignar con la flechita en los dos sentidos

[1] TRUE

[1] FALSE

In [22]:
# podemos realizar comparaciones aritméticas
6 >= 5
6 < 6

[1] TRUE

[1] FALSE

In [26]:
# NOTA:valor infinito
Inf

Inf + 10000000000000000
Inf + Inf
Inf * 0

[1] Inf

[1] Inf

[1] Inf

[1] NaN

In [ ]:
# conector lógicos ( & es el "y", | es el "o" )

In [27]:
# date
no_fecha <- '2021-04-08'

In [28]:
no_fecha

[1] "2021-04-08"

In [32]:
# Clase y tipos de datos
x
class(x)

y
class(y)

class(no_fecha)

[1] 1

[1] "numeric"

[1] 5.6

[1] "numeric"

[1] "character"

In [34]:

# NOTA: podemos preguntarnos por la clase del dato almacenado en una variable


# coercionamos a clase date, con la función as.Date()

fecha <- as.Date(no_fecha)

In [35]:
fecha
class(fecha)

[1] "2021-04-08"

[1] "Date"

In [37]:
fecha + 30

[1] "2021-05-08"

In [38]:
# Observación: Inmutabilidad de variables en R.
v1 <- 10
v2 <- v1 +1

In [39]:
v1
v2

[1] 10

[1] 11

In [41]:
v1 <- 20
v1

[1] 20

In [42]:
# ¿Qué valor tiene v2?
v2 # en R las asignaciones por defecto se realizan por valor y no por referencia.

[1] 11

In [43]:
v2 <- v1 +1
v2

[1] 21

### Observación:

   1. Cada vez que se define una variable en R, esta queda almacenada en memoria. Una manera de limpiar las variables que se han definido en memoria, es a través de la función rm().
   2. Documentación de R. Cada vez que se quiera acceder a la documentación de una librería o función en particular, se puede tipear "?" o "help()".
   3. Cada vez que se define una nueva variable con el mismo nombre, esta simplemente actualiza su valor.

In [44]:
ls() # retorna un vector con los nombres de todas las variables definidas en el ambiente

[1] "falso"    "fecha"    "l1"       "no_fecha" "v1"       "v2"       "verdad"
[8] "x"        "y"

In [47]:
# remueva algunas de las variables generadas anteriormente
rm(l1)

In [49]:
ls()
l1

[1] "falso"    "fecha"    "no_fecha" "v1"       "v2"       "verdad"   "x"
[8] "y"

ERROR: ignored

In [51]:
rm(list = c('fecha', 'x', 'y'))

In [53]:
ls <- 1+1

In [54]:
ls

[1] 2

[1] "falso"    "ls"       "no_fecha" "v1"       "v2"       "verdad"

### 2.1. Missing values

En R, existen tipos de datos especiales para caracterizar la ausencia o la no definición de una variable. Los valores especiales que maneja R son NA, NaN, Inf, -Inf.

In [56]:
# 2.1. Missing Values ------------
# Acá se explica la diferencia entre ellos y cómo reconocerlos.
NA  # Not available, es el equivalente al NULL de SQL
NaN # Not a number
Inf # Infinito positivo
-Inf # Infinito negativo

[1] NA

[1] NaN

In [58]:
edad <- NA

edad == NA

[1] NA

In [59]:
3 == 3

[1] TRUE

In [61]:
NA == NA

[1] NA

In [64]:
# para identificar un valor NA o NaN podemos utilizar la función is.na
is.na(NA)
is.na(NaN)
is.na(5)

[1] TRUE

[1] TRUE

[1] FALSE

In [65]:
is.na(Inf)

[1] FALSE